.home {
    margin: 1.5em;

    font-family: 'Mabry Pro', sans-serif;
}

.tao {
    min-width: 50em;
    max-width: 90em;
    width: 60%;

    position: absolute;
    left: 50%;

    bottom: 0;
    margin-bottom: -1em;

    position: fixed;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

    z-index: -10;

    :global svg {
        height: 80%;
    }

    animation: fadeIn 1.2s;
}

@media only screen and (max-width: 45em) {
    .tao {
        display: block;
    }
}

@media (max-height: 50em) and (min-width: 45em) {
    .tao {
        :global svg {
            display: none;
        }
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}
