@import "../_variables.scss";

.post {
  font-family: $font-family;
  margin: $margin;

  :global .body {
    font-family: $body-font-family;
    font-weight: 400;

    max-width: 40em;

    margin-top: 1em;
    margin-left: $approx-second-column;

    font-size: 12pt;
    line-height: 1.5;

    :global .metadata {
      margin-top: 1em;
      margin-bottom: 1em;

      #edit {
        text-decoration: none;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: $font-family;
      line-height: 1.1;
    }

    img {
      max-width: 45em;
      margin-left: -1em;
    }

    a {
      text-decoration: underline;
    }

    code {
      font-family: $code-font-family;
      font-size: 10pt;

      display: inline-block;
      word-break: break-all;
      white-space: pre-wrap;
    }

    pre {
      padding-left: 1em;
      padding-top: 1em;
      padding-bottom: 1em;
      padding-right: 1em;

      margin-left: -1em;

      line-height: 1.1;
    }

    .chevron svg {
      margin-top: 1em;
      width: 1em;
    }
  }
}

@media only screen and (max-width: 45em) {
  .post {
    :global .body {
      margin-left: 0;

      img {
        width: 100%;
        margin-left: 0;
      }

      pre {
        max-width: 100vw;

        margin-left: -1em;
        margin-right: -1em;
      }
    }
  }
}
