$accent: pink;

.page-enter-active,
.page-leave-active {
    transition: opacity 0.15s;
}

.page-enter,
.page-leave-to {
    opacity: 0;
}

.content {
    max-width: 60em;

    margin-left: 20%;
    margin-top: 5em;

    font-family: 'Lato', sans-serif;

    #copyright {
        padding-top: 4em;
        color: lightgray;
        font-size: 8pt;
    }
}

.top {
    #brand {
        #logo {
            margin-right: 1.5em;
            height: 2.3em;
        }

        #subheading {
            margin-bottom: -0.45em;
            height: 2.8em;

            visibility: hidden;
            opacity: 0;
        }
    }

    #brand.active {
        #logo {
            margin-top: 0.05em; //Animation causes slight shift
        }

        #subheading {
            visibility: visible;
            opacity: 1;

            transform: translateX(100%);
            position: fixed;
            animation: anim 2s 1;
            transition: all 0.1s ease-in-out;

            transform: translateX(0%);
        }

        #headline {
            display: none;
        }
    }


    #headline {
        margin-top: 0.5em;
        font-size: 14pt;
    }

    margin-bottom: 3em;
}

.index {
    font-size: 14pt;

    ul {
        list-style: none;
        padding-left: 0;
    }
}

a {
    color: black;
    text-decoration: none;

    #arrow {
        margin-left: 0.05em;
        margin-bottom: -0.15em;

        width: 1em;
        height: 1em;

        visibility: hidden;
        opacity: 0;
    }
}

a:hover {
    text-decoration: underline;

    #arrow {
        visibility: visible;
        opacity: 1;

        transition: all 0.2s ease-in-out;
    }
}

@media screen and (max-width: 30em) {
    .content {
        max-width: 100%;
        margin: 2em;

        li {
            margin-bottom: 0.5em;
        }

        transition: all 0.15s ease-in-out;
    }
}

::selection {
    color: white;
    background: black;
}

::-moz-selection {
    color: white;
    background: black;
}

@keyframes anim {
    0% {
        transform: translateX(100%);
    }
    14.28% {
        transform: translateX(0);
    }
    85.71% {
        transform: translateX(0);
    }
}