@import "./variables.scss";

.app {
    font-family: 'Helvetica', 'Archivo', sans-serif;
    text-transform: uppercase;

    font-size: 16pt;

    .container {
        padding-top: $border;
    }

    .footer {
        text-transform: uppercase;

        display: flex;
        position: absolute;

        bottom: 0;
        left: 0;

        margin-left: 3.7em;
        margin-bottom: $border;

        .switch {
            cursor: pointer;
        }

        .copy {
            width: $border;

            position: absolute;
            margin-left: $second-column;
        }
    }
}