@import "./variables.scss";

.blog {
    animation: fadein 0.5s;

    .entries {

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            .entry {
                margin-top: 1em;

                display: flex;

                .title {
                    margin-left: 7em;
                    width: 18em;
                }
            }
        }
    }
}