@import "./variables.scss";

.blog {
    .entries {
        animation: fadein 0.5s;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            .entry {
                margin-top: 1em;

                display: flex;

                .title {
                    margin-left: 5.5em;
                    width: 18em;
                }
            }
        }
    }
}