.home {
    text-transform: uppercase;

    display: flex;

    .title {
        .tag {
            margin-top: 1em;
        }
    }

    .content {
        margin-left: 10em;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .links {
            margin-top: 1em;
            margin-bottom: 1em;
        }
    }

    #leaves {
        width: 25em;
        position: absolute;

        bottom: 0;
        right: 0;
    }
}