@import "./variables.scss";

.home {
    display: flex;

    .title {
        .tag {
            margin-top: $top-margin;
        }
    }

    .content {
        position: fixed;

        margin-left: $second-column;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .links {
            margin-top: $top-margin;
            margin-bottom: 1em;
        }
    }
}