@import "_variables.scss";

.footer {
    text-transform: uppercase;

    display: flex;
    position: absolute;

    bottom: 0;
    left: 0;

    margin: $border;
}

.switch {
    cursor: pointer;
}

.copy {
    width: 5em;

    position: absolute;
    margin-left: $second-column;
}