body {
  padding: 0;
  margin: 4em;

  font-family: 'Mabry Pro', sans-serif;

  color: #2D2D2D;
  background-color: #F0F0F0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::selection {
  color: #F0F0F0;
  background: #2D2D2D;
}