@import "_variables.scss";

html,
body {
  font-family: 'Helvetica', 'Archivo', sans-serif;
  line-height: 99%;
  text-transform: uppercase;

  font-size: 16pt;
  margin: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.space {
  margin-top: $spacing;
}

.logo {
  position: absolute;
  //right: $border;

  width: 2em;
}