// There is a lot of repetition here, determine approach to reduce

body {
  color: #000;
  background-color: #fafafa;

  ::selection {
    color: #fafafa;
    background: #000;
  }

  #tao svg {
    color: #f7f7f7;
  }

  a:hover {
    cursor: pointer;
    color: #fafafa;
    background-color: #000;
  }

  .link:hover {
    cursor: pointer;
    color: #fafafa;
    background-color: #000;
  }

  code {
    background-color: #f1f1f1;
  }

  pre {
    background-color: #f1f1f1;
  }
}

[data-theme="dark"] body {
  color: #fff;
  background-color: #0a0a0a;

  ::selection {
    color: #000;
    background: #fff;
  }

  #tao svg {
    color: #111111;
  }

  a:hover {
    cursor: pointer;
    color: #000;
    background-color: #fff;
  }

  .link:hover {
    cursor: pointer;
    color: #000;
    background-color: #fff;
  }

  code {
    background-color: #1d1d1d;
  }

  pre {
    background-color: #1d1d1d;
  }
}

[data-theme="ikea"] body {
  color: #f7f7f7;
  background-color: #003399;

  ::selection {
    color: #003399;
    background: #ffcc00;
  }

  #tao svg {
    color: #ffcc00;
  }
}

[data-theme="spotify"] body {
  color: #f7f7f7;
  background-color: #212121;

  ::selection {
    color: #212121;
    background: #1db954;
  }

  #tao svg {
    color: #1db954;
  }
}

[data-theme="netflix"] body {
  color: #f7f7f7;
  background-color: #000000;

  ::selection {
    color: #000000;
    background: #db0000;
  }

  #tao svg {
    color: #db0000;
  }
}

[data-theme="amazon"] body {
  color: #f7f7f7;
  background-color: #232f3e;

  ::selection {
    color: #232f3e;
    background: #ff9900;
  }

  #tao svg {
    color: #ff9900;
  }
}
