.container {
    width: 14em;
    height: 38em;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    text-align: center;

    margin: auto;

    :global #title {
        font-family: 'Syne', sans-serif;
        font-size: 12pt;
        font-weight: bold;

        text-transform: uppercase;

        margin-bottom: 3em;
    }

    :global #k svg {
        height: 1.8em;
        margin-bottom: 4em;
    }

    :global #card {
        width: 14em;
    }

    :global #socials {
        margin-top: 4em;

        :global svg {
            height: 2em;
            padding: 0.5em;
            cursor: pointer;
        }

        :global a:hover {
            color: #272727;
            background-color: black;
        }
    }
}
